<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
    {{ partial "head.html" . }}
</head>

<body class="flex flex-col min-h-screen" x-data="{ atTop: true, menu: false }"
      x-on:scroll.window="atTop = (window.pageYOffset > 0) ? false : true">
<!-- This example requires Tailwind CSS v1.4.0+ -->
<div class="sticky top-0 z-50" x-bind:class="{ 'bg-white shadow-lg': !atTop, 'bg-orange-200': atTop }">
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
        <div class="flex justify-between items-center py-3 md:justify-start md:space-x-10">
            <div class="">
                <a href="/" class="flex items-center">
                    <img class="h-8 w-auto"
                         src="{{ .Site.BaseURL}}img/logo.svg" alt="Workflow">
                    <span class="text-2xl ml-2 text-gray-800">Ticket</span><span
                        class="text-2xl text-orange-600 font-bold">Vise</span>
                </a>
            </div>
            <div class="-mr-2 -my-2 hidden">
                <button type="button" @click="menu = !menu"
                        class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6h16M4 12h16M4 18h16"/>
                    </svg>
                </button>
            </div>
            <nav class="md:flex space-x-10">
                <div class="relative" x-data="{ open: false, atTop: true }"
                     x-on:scroll.window="atTop = (window.pageYOffset > 0) ? false : true">
                    <!-- Item active: "text-gray-900", Item inactive: "text-gray-500" -->
                    <button type="button"
                            class="group inline-flex items-center space-x-2 text-base leading-6 font-medium hover:text-orange-600 focus:outline-none focus:text-orange-600 transition ease-in-out duration-150"
                            x-bind:class="{ 'text-gray-500': !atTop, 'text-orange-500': atTop }"
                            @click="open = !open">
                        <span>Support</span>
                        <!-- Item active: "text-gray-600", Item inactive: "text-gray-400" -->
                        <svg class="h-5 w-5 group-hover:text-orange-600 group-focus:text-orange-600 transition ease-in-out duration-150"
                             viewBox="0 0 20 20" fill="currentColor"
                             x-bind:class="{ 'text-gray-400': !atTop, 'text-orange-500': atTop }">
                            <path fill-rule="evenodd"
                                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </button>

                    <div class="absolute ml-8 left-1/2 transform -translate-x-1/2 mt-3 px-2 w-screen max-w-md sm:px-0"
                         x-show="open" @click.away="open = false"
                         x-transition:enter="transition ease-out duration-200"
                         x-transition:enter-start="opacity-0 translate-y-1"
                         x-transition:enter-end="opacity-100 translate-y-0"
                         x-transition:leave="transition ease-in duration-150"
                         x-transition:leave-start="opacity-100 translate-y-0"
                         x-transition:leave-end="opacity-0 translate-y-1">
                        <div class="rounded-lg shadow-lg">
                            <div class="rounded-lg shadow-xs overflow-hidden">
                                <div class="z-20 relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                                    <a href="/getting-started/"
                                       class="-m-3 p-3 flex items-start space-x-4 rounded-lg hover:bg-gray-100 transition ease-in-out duration-150">
                                        <svg class="flex-shrink-0 h-6 w-6 text-orange-600" fill="none"
                                             viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M16 4v12l-4-2-4 2V4M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"/>
                                        </svg>
                                        <div class="space-y-1">
                                            <p class="text-base leading-6 font-medium text-gray-900">
                                                Getting Started
                                            </p>
                                            <p class="text-sm leading-5 text-gray-500">
                                                Per role information about the functionalities.
                                            </p>
                                        </div>
                                    </a>
                                    <a href="https://github.com/TicketVise/ticketvise"
                                       class="-m-3 p-3 flex items-start space-x-4 rounded-lg hover:bg-gray-100 transition ease-in-out duration-150">
                                        <i class="text-orange-600 h-6 w-6 p-1 fab fa-github"></i>
                                        <div class="space-y-1">
                                            <p class="text-base leading-6 font-medium text-gray-900">
                                                GitHub
                                            </p>
                                            <p class="text-sm leading-5 text-gray-500">
                                                The code with documentation about deploying.
                                            </p>
                                        </div>
                                    </a>
                                    <a class="hidden" href="#"
                                       class="-m-3 p-3 flex items-start space-x-4 rounded-lg hover:bg-gray-100 transition ease-in-out duration-150">
                                        <svg class="flex-shrink-0 h-6 w-6 text-orange-600" fill="currentColor"
                                             viewBox="0 0 512.001 512.001" stroke="currentColor">
                                            <circle cx="255.001" cy="433.5" r="33"/>
                                            <path
                                                    d="M506.632,154.864C440.902,84.341,351.895,45.501,255.997,45.5C160.107,45.501,71.1,84.341,5.369,154.864 c-7.53,8.08-7.085,20.736,0.995,28.267c8.081,7.53,20.736,7.086,28.267-0.995C92.711,119.82,171.327,85.501,256.004,85.5 c84.67,0.001,163.286,34.32,221.366,96.636c3.939,4.226,9.28,6.364,14.635,6.364c4.883,0,9.778-1.778,13.632-5.369 C513.717,175.599,514.163,162.944,506.632,154.864z"/>
                                            <path
                                                    d="M433.194,237.458c-48.587-48.954-111.516-75.913-177.196-75.911c-65.695,0.001-128.625,26.961-177.197,75.913 c-7.78,7.841-7.731,20.504,0.11,28.284c7.841,7.78,20.504,7.731,28.284-0.11c41.005-41.326,93.851-64.086,148.803-64.087 c54.938-0.002,107.784,22.759,148.804,64.089c3.91,3.939,9.052,5.911,14.196,5.911c5.092,0,10.188-1.934,14.09-5.805 C440.927,257.961,440.975,245.298,433.194,237.458z"/>
                                            <path
                                                    d="M353.151,320.292c-26.02-25.779-63.317-41.792-97.339-41.792c-0.004,0-0.011,0-0.015,0h-1.441c-0.006,0-0.009,0-0.015,0 c-34.023,0-71.323,16.014-97.342,41.792c-7.846,7.774-7.905,20.437-0.131,28.284c3.911,3.947,9.059,5.924,14.208,5.924 c5.087,0,10.176-1.929,14.075-5.792c18.523-18.352,45.68-30.208,69.192-30.208c0.003,0,0.007,0,0.01,0h1.447 c0.004,0,0.005,0,0.009,0c23.509,0,50.668,11.857,69.189,30.208c7.846,7.773,20.511,7.717,28.284-0.132 C361.057,340.73,360.998,328.066,353.151,320.292z"/>
                                        </svg>
                                        <div class="space-y-1">
                                            <p class="text-base leading-6 font-medium text-gray-900">
                                                Status
                                            </p>
                                            <p class="text-sm leading-5 text-gray-500">
                                                See what meet-ups and other events we might be planning near you.
                                            </p>
                                        </div>
                                    </a>
                                    <a class="hidden" href="/getting-started/"
                                       class="-m-3 p-3 flex items-start space-x-4 rounded-lg hover:bg-gray-100 transition ease-in-out duration-150">
                                        <svg class="flex-shrink-0 h-6 w-6 text-orange-600" fill="none"
                                             viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M18.364 5.636l-3.536 3.536m0 5.656l3.536 3.536M9.172 9.172L5.636 5.636m3.536 9.192l-3.536 3.536M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-5 0a4 4 0 11-8 0 4 4 0 018 0z"/>
                                        </svg>
                                        <div class="space-y-1">
                                            <p class="text-base leading-6 font-medium text-gray-900">
                                                Getting Started
                                            </p>
                                            <p class="text-sm leading-5 text-gray-500">
                                                Per role information about the functionalities.
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hidden relative" x-data="{ open: false, atTop: true }"
                     x-on:scroll.window="atTop = (window.pageYOffset > 0) ? false : true">
                    <!-- Item active: "text-gray-900", Item inactive: "text-gray-500" -->
                    <button type="button"
                            class="group inline-flex items-center space-x-2 text-base leading-6 font-medium hover:text-orange-600 focus:outline-none focus:text-orange-600 transition ease-in-out duration-150"
                            x-bind:class="{ 'text-gray-500': !atTop, 'text-orange-500': atTop }"
                            @click="open = !open">
                        <span>Solutions</span>
                        <!-- Item active: "text-gray-600", Item inactive: "text-gray-400" -->
                        <svg class="h-5 w-5 group-hover:text-orange-600 group-focus:text-orange-600 transition ease-in-out duration-150"
                             viewBox="0 0 20 20" fill="currentColor"
                             x-bind:class="{ 'text-gray-400': !atTop, 'text-orange-500': atTop }">
                            <path fill-rule="evenodd"
                                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </button>

                    <div class="absolute left-1/2 transform -translate-x-1/2 mt-3 px-2 w-screen max-w-md sm:px-0"
                         x-show="open" @click.away="open = false"
                         x-transition:enter="transition ease-out duration-200"
                         x-transition:enter-start="opacity-0 translate-y-1"
                         x-transition:enter-end="opacity-100 translate-y-0"
                         x-transition:leave="transition ease-in duration-150"
                         x-transition:leave-start="opacity-100 translate-y-0"
                         x-transition:leave-end="opacity-0 translate-y-1">
                        <div class="rounded-lg shadow-lg">
                            <div class="rounded-lg shadow-xs overflow-hidden">
                                <div class="z-20 relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                                    <a href="/solutions/student/"
                                       class="-m-3 p-3 flex items-start space-x-4 rounded-lg hover:bg-gray-100 transition ease-in-out duration-150">
                                        <i class="text-orange-600 h-6 w-6 p-1 fab fa-user-graduate"></i>
                                        <div class="space-y-1">
                                            <p class="text-base leading-6 font-medium text-gray-900">
                                                For Students
                                            </p>
                                            <p class="text-sm leading-5 text-gray-500">
                                                Solutions and benefits for students.
                                            </p>
                                        </div>
                                    </a>
                                    <a href="/solutions/teacher/"
                                       class="-m-3 p-3 flex items-start space-x-4 rounded-lg hover:bg-gray-100 transition ease-in-out duration-150">
                                        <i class="text-orange-600 h-6 w-6 p-1 fab fa-chalkboard-teacher"></i>
                                        <div class="space-y-1">
                                            <p class="text-base leading-6 font-medium text-gray-900">
                                                For Teachers
                                            </p>
                                            <p class="text-sm leading-5 text-gray-500">
                                                Solutions and benefits for teachers.
                                            </p>
                                        </div>
                                    </a>
                                    <a class="hidden" href="#"
                                       class="-m-3 p-3 flex items-start space-x-4 rounded-lg hover:bg-gray-100 transition ease-in-out duration-150">
                                        <svg class="flex-shrink-0 h-6 w-6 text-orange-600" fill="currentColor"
                                             viewBox="0 0 512.001 512.001" stroke="currentColor">
                                            <circle cx="255.001" cy="433.5" r="33"/>
                                            <path
                                                    d="M506.632,154.864C440.902,84.341,351.895,45.501,255.997,45.5C160.107,45.501,71.1,84.341,5.369,154.864 c-7.53,8.08-7.085,20.736,0.995,28.267c8.081,7.53,20.736,7.086,28.267-0.995C92.711,119.82,171.327,85.501,256.004,85.5 c84.67,0.001,163.286,34.32,221.366,96.636c3.939,4.226,9.28,6.364,14.635,6.364c4.883,0,9.778-1.778,13.632-5.369 C513.717,175.599,514.163,162.944,506.632,154.864z"/>
                                            <path
                                                    d="M433.194,237.458c-48.587-48.954-111.516-75.913-177.196-75.911c-65.695,0.001-128.625,26.961-177.197,75.913 c-7.78,7.841-7.731,20.504,0.11,28.284c7.841,7.78,20.504,7.731,28.284-0.11c41.005-41.326,93.851-64.086,148.803-64.087 c54.938-0.002,107.784,22.759,148.804,64.089c3.91,3.939,9.052,5.911,14.196,5.911c5.092,0,10.188-1.934,14.09-5.805 C440.927,257.961,440.975,245.298,433.194,237.458z"/>
                                            <path
                                                    d="M353.151,320.292c-26.02-25.779-63.317-41.792-97.339-41.792c-0.004,0-0.011,0-0.015,0h-1.441c-0.006,0-0.009,0-0.015,0 c-34.023,0-71.323,16.014-97.342,41.792c-7.846,7.774-7.905,20.437-0.131,28.284c3.911,3.947,9.059,5.924,14.208,5.924 c5.087,0,10.176-1.929,14.075-5.792c18.523-18.352,45.68-30.208,69.192-30.208c0.003,0,0.007,0,0.01,0h1.447 c0.004,0,0.005,0,0.009,0c23.509,0,50.668,11.857,69.189,30.208c7.846,7.773,20.511,7.717,28.284-0.132 C361.057,340.73,360.998,328.066,353.151,320.292z"/>
                                        </svg>
                                        <div class="space-y-1">
                                            <p class="text-base leading-6 font-medium text-gray-900">
                                                Status
                                            </p>
                                            <p class="text-sm leading-5 text-gray-500">
                                                See what meet-ups and other events we might be planning near you.
                                            </p>
                                        </div>
                                    </a>
                                    <a class="hidden" href="/getting-started/"
                                       class="-m-3 p-3 flex items-start space-x-4 rounded-lg hover:bg-gray-100 transition ease-in-out duration-150">
                                        <svg class="flex-shrink-0 h-6 w-6 text-orange-600" fill="none"
                                             viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M18.364 5.636l-3.536 3.536m0 5.656l3.536 3.536M9.172 9.172L5.636 5.636m3.536 9.192l-3.536 3.536M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-5 0a4 4 0 11-8 0 4 4 0 018 0z"/>
                                        </svg>
                                        <div class="space-y-1">
                                            <p class="text-base leading-6 font-medium text-gray-900">
                                                Getting Started
                                            </p>
                                            <p class="text-sm leading-5 text-gray-500">
                                                Per role information about the functionalities.
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="flex items-center justify-end space-x-8 md:flex-1 lg:w-0">
                <!-- <span class="inline-flex rounded-md shadow-sm">
                    <a href="#"
                        class="whitespace-no-wrap inline-flex items-center justify-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-orange-600 hover:bg-orange-500 focus:outline-none focus:border-orange-700 focus:shadow-outline-orange active:bg-orange-700 transition ease-in-out duration-150">
                        Demo
                    </a>
                </span> -->
            </div>
        </div>
    </div>

    <!-- Mobile menu, show/hide based on mobile menu state. -->
    <div class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right hidden"> <!-- md:hidden -->
        <div class="rounded-lg shadow-lg" x-show="menu" @click.away="menu = false"
             x-transition:enter="duration-200 ease-out" x-transition:enter-start="opacity-0 scale-95"
             x-transition:enter-end="opacity-100 scale-100" x-transition:leave="duration-100 ease-in"
             x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-95">
            <div class="rounded-lg shadow-xs bg-white divide-y-2 divide-gray-50">
                <div class="pt-5 pb-6 px-5 space-y-6">
                    <div class="flex items-center justify-between">
                        <div>
                            <img class="h-8 w-auto"
                                 src="{{ .Site.BaseURL}}img/logo.svg" alt="Workflow">
                        </div>
                        <div class="-mr-2">
                            <button type="button" @click="menu = !menu"
                                    class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">
                                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M6 18L18 6M6 6l12 12"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div>
                        <nav class="grid row-gap-8">
                            <a href="#"
                               class="-m-3 p-3 flex items-center space-x-3 rounded-md hover:bg-gray-100 transition ease-in-out duration-150">
                                <svg class="flex-shrink-0 h-6 w-6 text-orange-600" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"/>
                                </svg>
                                <div class="text-base leading-6 font-medium text-gray-900">
                                    Analytics
                                </div>
                            </a>
                            <a href="#"
                               class="-m-3 p-3 flex items-center space-x-3 rounded-md hover:bg-gray-100 transition ease-in-out duration-150">
                                <svg class="flex-shrink-0 h-6 w-6 text-orange-600" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122"/>
                                </svg>
                                <div class="text-base leading-6 font-medium text-gray-900">
                                    Engagement
                                </div>
                            </a>
                            <a href="#"
                               class="-m-3 p-3 flex items-center space-x-3 rounded-md hover:bg-gray-100 transition ease-in-out duration-150">
                                <svg class="flex-shrink-0 h-6 w-6 text-orange-600" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"/>
                                </svg>
                                <div class="text-base leading-6 font-medium text-gray-900">
                                    Security
                                </div>
                            </a>
                            <a href="#"
                               class="-m-3 p-3 flex items-center space-x-3 rounded-md hover:bg-gray-100 transition ease-in-out duration-150">
                                <svg class="flex-shrink-0 h-6 w-6 text-orange-600" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"/>
                                </svg>
                                <div class="text-base leading-6 font-medium text-gray-900">
                                    Integrations
                                </div>
                            </a>
                            <a href="#"
                               class="-m-3 p-3 flex items-center space-x-3 rounded-md hover:bg-gray-100 transition ease-in-out duration-150">
                                <svg class="flex-shrink-0 h-6 w-6 text-orange-600" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"/>
                                </svg>
                                <div class="text-base leading-6 font-medium text-gray-900">
                                    Automations
                                </div>
                            </a>
                        </nav>
                    </div>
                </div>
                <div class="py-6 px-5 space-y-6">
                    <div class="grid grid-cols-2 row-gap-4 col-gap-8">
                        <a href="#"
                           class="text-base leading-6 font-medium text-gray-900 hover:text-gray-700 transition ease-in-out duration-150">
                            Pricing
                        </a>
                        <a href="#"
                           class="text-base leading-6 font-medium text-gray-900 hover:text-gray-700 transition ease-in-out duration-150">
                            Docs
                        </a>
                        <a href="#"
                           class="text-base leading-6 font-medium text-gray-900 hover:text-gray-700 transition ease-in-out duration-150">
                            Enterprise
                        </a>
                        <a href="#"
                           class="text-base leading-6 font-medium text-gray-900 hover:text-gray-700 transition ease-in-out duration-150">
                            Blog
                        </a>
                        <a href="#"
                           class="text-base leading-6 font-medium text-gray-900 hover:text-gray-700 transition ease-in-out duration-150">
                            Help Center
                        </a>
                        <a href="#"
                           class="text-base leading-6 font-medium text-gray-900 hover:text-gray-700 transition ease-in-out duration-150">
                            Guides
                        </a>
                        <a href="#"
                           class="text-base leading-6 font-medium text-gray-900 hover:text-gray-700 transition ease-in-out duration-150">
                            Security
                        </a>
                        <a href="#"
                           class="text-base leading-6 font-medium text-gray-900 hover:text-gray-700 transition ease-in-out duration-150">
                            Events
                        </a>
                    </div>
                    <div class="space-y-6">
                            <span class="w-full flex rounded-md shadow-sm">
                                <a href="#"
                                   class="w-full flex items-center justify-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-orange-600 hover:bg-orange-500 focus:outline-none focus:border-orange-700 focus:shadow-outline-orange active:bg-orange-700 transition ease-in-out duration-150">
                                    Sign up
                                </a>
                            </span>
                        <p class="text-center text-base leading-6 font-medium text-gray-500">
                            Existing customer?
                            <a href="#"
                               class="text-orange-600 hover:text-orange-500 transition ease-in-out duration-150">
                                Sign in
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<main class="w-full flex flex-col flex-grow mx-auto overflow-y-auto">
    {{ block "main" . }}{{ end }}
</main>
{{ partial "footer.html" . }}

{{ partial "js.html" . }}
</body>

</html>
