<!-- <div class="w-full flex flex-col p-4 md:p-8 border-t space-y-4"> -->
<div class="w-full flex flex-col p-4 pt-0">
    <!-- Links -->
    <!-- <div class="grid grid-cols-2 container mx-auto"> -->
        <!-- <div class="flex flex-col justify-start space-y-2 text-gray-600">
            <span class="text-gray-500 font-medium">Solution</span>
            <a class="hover:underline" href="/features">Features</a>
            <a class="hover:underline" href="/pricing">Integrations</a>
            <a class="hover:underline" href="/about">Demo</a>
            <a class="hover:underline" href="/home">Pricing</a>
        </div>
        <div class="flex flex-col justify-start space-y-2 text-gray-600">
            <span class="text-gray-500 font-medium">Support</span>
            <a class="hover:underline" href="/home">Help Center</a>
            <a class="hover:underline" href="/features">Documentation</a>
            <a class="hover:underline" href="/pricing">Guides</a>
            <a class="hover:underline" href="/about">Status</a>
        </div>
        <div class="flex flex-col justify-start space-y-2 text-gray-600">
            <span class="text-gray-500 font-medium">Company</span>
            <a class="hover:underline" href="/home">About</a>
            <a class="hover:underline" href="/features">Blog</a>
            <a class="hover:underline" href="/pricing">Roadmap</a>
            <a class="hover:underline" href="/about">Partners</a>
        </div>
        <div class="flex flex-col justify-start space-y-2 text-gray-600">
            <span class="text-gray-500 font-medium">Legal</span>
            <a class="hover:underline" href="/home">Privacy</a>
            <a class="hover:underline" href="/features">Terms</a>
        </div> -->
        <!-- <div class="col-span-2 flex flex-col justify-start space-y-2 text-gray-600">
            <span class="text-gray-500 font-medium">Get into contact</span>
            <span>Leave your email and we get back to you as soon as possible.</span>
            <form class="w-full max-w-md">
                <div class="flex items-center border-b-2 border-orange-600 pb-2">
                    <input
                        class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                        type="text" placeholder="you@example.com" aria-label="email">
                    <button
                        class="flex-shrink-0 bg-orange-600 hover:bg-orange-700 border-orange-600 hover:border-orange-700 text-sm border-4 text-white py-1 px-2 rounded"
                        type="button">
                        Send
                    </button>
                </div>
            </form>
        </div> -->

    <!-- </div> -->

    <!-- Copyright -->
    <div class="flex justify-between text-gray-400 border-t pt-2 md:pt-4 container mx-auto">
        <span>&copy; 2020 | TicketVise</span>
        <a href="/privacy" class="hover:underline">Privacy Policy</a>
    </div>
</div>
