<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preload" href="{{ .Site.BaseURL}}css/page.css" as="style">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="TicketVise will streamline answering questions from students so you can focus on the teaching part.">
<meta name="robots" content="index,follow">
<title>TicketVise</title>
<meta name="theme-color" content="#EA580C">
<link rel="stylesheet" href="{{ .Site.BaseURL}}css/page.css">
<link rel="stylesheet" href="{{ .Site.BaseURL}}css/icons.css">
<link rel="shortcut icon" type="image/png" href="{{ .Site.BaseURL}}img/logo.svg">

<meta property="og:title" content="TicketVise" />
<meta property="og:url" content="https://ticketvise.com" />
<meta property="og:description" content="TicketVise will streamline answering questions from students so you can focus on the teaching part.">
<meta property="og:image" content="{{ .Site.BaseURL}}img/ticketvise_complete_logo.png">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-175323355-1"></script>
<script>
  window.dataLayer = window.dataLayer || []

  function gtag() {
    dataLayer.push(arguments)
  }

  gtag('js', new Date())
  gtag('config', 'UA-175323355-1', { 'anonymize_ip': true })
</script>
